#####
# OS X temporary files that should never be committed

.DS_Store
*.DS_Store
Thumbs.db

# Python compiled files
*.pyc

# Libs & builds
dev/moaipy/build/
dev/moaipy/lib/
dev/moaipy/moaipy.so

# Py 2 App
build/
dist/